html, body {
    padding:0;
    margin:0;
    height:100%;
    background-image:url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/gray_jean.png");
}

nav {
    position:absolute;
    bottom:-2px;
    left:-2px;
    width:100%;
    padding:10px 20px;
    border-radius:0;
    border:none;
    z-index:1;
    color:#CCC;
    font-size:14px;
    font-weight:bold;
    font-family:sans-serif;
    text-align:center;
    box-sizing:border-box;
}

nav a {
    font-weight:normal;
    color:#AAA;
    text-decoration:none;
}

nav a:hover {
    text-decoration:underline;
}

nav a.current {
    display:inline-block;
    margin:0 20px;
}

section {
    display:block;
    position:relative;
    height:100%;
    width:37.5%;
    min-width:560px;
    margin:0 auto;
    box-sizing:border-box;
}

textarea {
    display:block;
    height:100%;
    width:100%;
    padding:20px;
    margin:0 auto;
    box-sizing:border-box;
    font-family:Open Sans, Helvetica Neue, sans-serif;
    font-size:1.2em;
    border:none;
    outline:none;
    border-top:4px solid rgba(0, 185, 283, 1);
    -webkit-appearance:none;
       -moz-appearance:none;
    resize: none;
}

button {
    position:absolute;
    bottom:-2px;
    right:-2px;
    padding:10px 20px;
    border-radius:0;
    border:none;
    z-index:1;
    color:#FFF;
    font-size:12px;
    font-weight:bold;
    font-family:sans-serif;
    background-color:rgba(0, 185, 283, 1);
    z-index:10;
}

button:disabled { opacity:0.5; }

@media screen and (max-width:560px){
    section {
        width:100%;
        min-width:100%;
    }
}
